<%= form_for(@metafield) do |f| %>

	<% if @metafield.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@metafield.errors.count, "error") %> prohibited this metafield from being saved:</h2>
			<ul>
			<% @metafield.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :product_type %>
		<%= select(:metafield, :product_type, @product_types, {}, { :class => 'form-control' }) %>
	</div>
	<div class="form-group">
		<%= f.label :key %>
		<%= f.text_field :key, :class => 'form-control' %>
	</div>
	<%= f.submit 'Add', :class => 'btn btn-success' %>

<% end %>