<h1>
	Metafields
	<%= link_to 'Add', new_metafield_path, :class => 'btn btn-success pull-right' %>
</h1>

<div class="row">
<% @product_types.each do |product_type| %>
	<div class="col-sm-3">
		<h2><%= product_type %></h2>
		<ul>
		<%
			@metafields = Metafield.where(:product_type => product_type)
			@metafields.each do |metafield|
		%>
			<li><strong><%= format_key(metafield.key) %></strong></li>
			<ul>
			<% metafield.values.each do |value| %>
				<li><%= value.name %></li>
			<% end %>
				<li><%= link_to 'Add', new_metafield_value_path(metafield), :class => 'text-success' %></li>
			</ul>
		<%
			end
		%>
		</ul>
	</div>
<% end %>
</div>