<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @model.make_id %>
</p>

<p>
  <strong>Material:</strong>
  <%= @model.material_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @model.price %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
