<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @model.make_id %>
</p>

<p>
  <strong>Material:</strong>
  <%= @model.material_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @model.price %>
</p>

<p>
	<strong>Products</strong><br>
<%
	@model.model_products.each do |model_product|
		@product = ShopifyAPI::Product.find(model_product.product_id)
%>
	<%= @product.title %><br>
<%
	end
%>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>