<%= form_for [@metafield, @value] do |f| %>

	<% if @value.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@value.errors.count, "error") %> prohibited this value from being saved:</h2>
			<ul>
			<% @value.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<label>Product Type</label>
		<p><%= @metafield.product_type %></p>
	</div>
	<div class="form-group">
		<%= f.label :metafield_id, 'Key' %>
		<p><%= format_key(@metafield.key) %></p>
		<%= f.hidden_field :metafield_id, :value => params[:metafield_id] %>
	</div>
	<div class="form-group">
		<%= f.label :name, 'Value' %><br>
		<%= f.text_field :name, :class => 'form-control' %>
	</div>
	<%= f.submit 'Add', :confirm => 'Are you sure you want to add this Value?', :class => 'btn btn-success' %>

<% end %>