<h1>Dashboard</h1>
<div class="row">
	<div class="col-sm-3">
		<h2>Categories</h2>
		<%= link_to 'Add', new_category_path, :class => 'btn btn-sm btn-success' %>
		<ul>
			<% @categories.each do |category| %>
				<li><%= link_to category.name, category %></li>
			<% end %>
		</ul>
	</div>
	<div class="col-sm-3">
		<h2>Materials</h2>
		<%= link_to 'Add', new_material_path, :class => 'btn btn-sm btn-success' %>
		<ul>
			<% @materials.each do |material| %>
				<li><%= link_to material.name, material %></li>
			<% end %>
		</ul>
	</div>
	<div class="col-sm-3">
		<h2>Models</h2>
		<%= link_to 'Add', new_make_path, :class => 'btn btn-sm btn-success' %>
		<ul>
			<% @makes.each do |make| %>
				<li><%= link_to make.name, make %></li>
				<ul>
					<% make.models.each do |model| %>
						<li><%= link_to model.name, model %></li>
					<% end %>
					<li><%= link_to 'Add', new_model_path, :class => 'btn btn-xs btn-success' %></li>
				</ul>
			<% end %>
		</ul>
	</div>
	<div class="col-sm-3">
		<h2>Products</h2>
		<ul>
		<% @products.each do |product| %>
			<li><a href="/products/<%= product.id %>"><%= product.title %></a></li>
		<% end %>
		</ul>
		<h2>Metafields</h2>
		<%= link_to 'Add', new_metafield_path, :class => 'btn btn-sm btn-success' %>
		<% @metafields.each do |metafield| %>
			<h3><%= metafield %></h3>
			<ul>
			<%
				@metafield = Metafield.where(:product_type => metafield)
				@metafield.each do |meta|
			%>
				<li><%= link_to meta.key, meta %></li>
			<%
				end
			%>
			</ul>
		<% end %>
	</div>
</div>