<h1>Products</h1>

<% @product_types.each do |product_type| %>
	<h2><%= product_type %></h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th width="25%">Model</th>
				<th width="25%">Brand</th>
				<%
					metafields = Metafield.where(:product_type => product_type)
					metafields.each do |metafield|
				%>
					<th><%= format_key(metafield.key) %></th>
				<%
					end
				%>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
	<%
		products = ShopifyAPI.throttle { ShopifyAPI::Product.find(:all, :params => {:product_type => product_type}) }
		products.each do |product|
	%>
		<tr>
			<td>
				<a href="/products/<%= product.id %>">
					<img src="<%= product.images[0].src unless product.images[0].nil? %>" style="margin-right: 5px; width: 50px;">
					<%= product.title %>
				</a>
			</td>
			<td><%= product.vendor %></td>
			<%
				meta = ShopifyAPI.throttle { product.metafields }
				metafields.each do |metafield|
					m = meta.select { |x| x.key.eql? metafield.key }
			%>
				<td><%= m.first.value unless m.empty? %></td>
			<%
				end
			%>
			<td><%= number_to_currency(product.variants[0].price) %></td>
		</tr>
	<%
		end
	%>
		</tbody>
	</table>
<% end %>